
  <div class="titleContainer">
    <h1>Green Leaves</h1>
    <img class="titleContainer__imgSize" src="/assets/img/greenleafs.png" alt="">
  </div>

  <div class="formContainer">
  <form>
    <div>
      <label >Nombre :</label>
      <input type="text" name="nombre" size="30" min="3" max="64" required/>
    </div>
    <div>
      <label >E-mail :</label>
      <input type="email" name="email" placeholder="ejemplo@gmail.com" size="30" minlength="3" maxlength="64" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required/>
    </div>
    <div>
      <label >Telefono :</label>
      <input type="tel" name="telefono" size="20" min="8" max="15" placeholder="+xxxx-xxxx-xxxx" pattern="[#+0-9]{2,5}-[0-9]{4}-[0-9]{4}" required/>
    </div>
    <div>
      <label for="fecha">Fecha :</label>
      <input type="date" min="1922-10-27" max="2022-10-27" name="fecha" class="formContainer__date" value="" required/>
    </div>
    <div>
      <label >Ciudad y Estado :</label>
      <input autocomplete="off" matInput type="text" [matAutocomplete]="auto" #box (keyup)="buscar(box.value)" required/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of estadosCiudades" [value]="item.name+', '+item.adminName1">
          {{item.name+', '+item.adminName1}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <button type="submit" class="formContainer__Btn">Enviar</button>
  </form>
</div>
